

.post-body{
    margin: 0 auto;
    position: relative;
    top:10rem;
    max-width: 100%!important;
    background: #fff !important;
    height:20rem;
    text-decoration: none;
}
.post-body-div{
    height:20rem;
    background-color:#ffff;
}
.post-body-middle-div1{
    height:20rem;
    text-align: center;
    justify-content: center;
    background-color:#ffff;
}
.posts-body-div2{
    max-width:40rem;
    margin: 0 auto;
}
.post-body-middle-image{
    max-width: 76.8rem;
    height: 20rem;
    margin: 0 auto 1.2rem;
    border-radius: 5px;
    background-color:#ffff;
}

.page-box{
    position:relative;
    width: 100%;
    top:30rem;
    right:2rem;
    height:1rem;
}
.post-span-btn{
    display:inline-block;
    margin-bottom: 10rem;
    position:absolute;
    right:4rem;
    border-radius: 5px;
}

.post-btn{
    border-radius: 5px;
    margin-bottom: 1rem;
}