.home-body-middle-div1{
    text-align: center;
    justify-content: center;
    background-color:#ffff;
}

.home-body-div{
    background-color:#ffff;
}

.home-body-middle-image{
    background-color:#ffff;
}